header {
  height: 75px;
  background: url("http://placezombie.com/g/200x600");
  border: 1px solid black;
}

main section {
  width: 100%;
  overflow: auto; 
  background: lightgray;
  border: 1px solid black;
}

section#item-b {
  height: 150px;
}

section#item-c, section#item-d {
  height: 125px;
}

section.cols-2 div {
  width: 50%;
  height: 250px;
  float: left;
  background: lightslategrey;
  border: 1px solid black;
}

footer.ending {
  height: 80px;
  background: url("http://placezombie.com/g/480x80");  
  border: 1px solid black;
}

@media screen and (min-width: 769px) {
  header {
    height: 100px;
    background: url("http://placezombie.com/g/960x100");
    border: 1px solid black;
  }

  main section {
    width: 100%;
    overflow: auto; 
    background: lightgray;
    border: 1px solid black;
  }

  section#item-b {
    height: 200;
    width: 600;
    float: left;
    background: url("http://placezombie.com/g/200x600");

}

  section#item-c, section#item-d {
    width: 380px;
    height: 200px;
    background: url("http://placezombie.com/g/380x200");
  }

  section.cols-4 div {
    width: 190px;
    height: 250px;
    float: left;
    background: url("http://placezombie.com/g/190x250");
    border: 1px solid black;
    
  }

  footer.ending {
    height: 150px;
    width: 760px;
    background: url("http://placezombie.com/g/760x150");    border: 1px solid black;
  }
}